{% extends "main/base.html" %} <!-- Warns which HTML template it is going to extend (substitute inside the
    "block content" block) -->
{% block content %} 
        <body class="background-style-index">
            <!-- The idea for this Home page is to have a big image of me (in Canada/snow) as the background image-->
            <!-- The image will get blurred whenever a link/button of the nav bar is hovered over -->
            <!-- The nav bar should go where? Top? Buttom? Center?-->        
            <!-- Content goes between "block content" and "endblock" inside base.html -->

            <main class="background-style-main">
                <!-- <h1>Hi there! This is <span style="color:orange">Phillip Gallas</span>' website!</h1>
                <p style="color:gray">Backend Engineer</p> -->

                <h1>Hello!</h1>
            </main>

            <footer>
                <!-- Contact me! -->
                <!-- Link my social accounts: LinkedIn, GitHub and Instagram -->
                <!-- Place a form: email me (it'd gonna go directly to phillipgallas@outlook.com) -->
                <!-- Or, dev.gallas@gmail.com -->
            </footer>
        </body>
{% endblock content %}